cmd/xml2db/Response.xsd

<?xml version="1.0" encoding="utf-16"?>

<!--
	XML-Schema for Discogs-API (http://www.discogs.com/help/api) 
	
	current version:	1.1
	latest version:		http://dev.exil.org/resources/Response.xsd
			
	Created by Ekki@eXil.org in April 2008
	This Document is Open-Source, so feel free to use it at your own risk!
	Please respect Discogs' terms of use
	
	Modifications:
	
	v1.1	October 2008 	
		- declaration of type 'Response' -> inline-declaration to fit e.g. Java-JDK6 (JAXB2.0-RI)
-->
<xs:schema id="Discogs.API.Response" version="1.0"
					 xmlns:xs="http://www.w3.org/2001/XMLSchema"
					 attributeFormDefault="unqualified" elementFormDefault="qualified">
	<!-- Root -->
	<xs:element name="resp">
		<!-- Response -->
		<xs:complexType>
			<!-- artist, label, release, exactresults, searchresults -->
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="artist" type="ArtistDetails"></xs:element>
				<xs:element name="label" type="LabelDetails"></xs:element>
				<xs:element name="release" type="ReleaseDetails"></xs:element>
				<xs:sequence>
					<xs:element name="exactresults" type="SearchResultList" minOccurs="0" maxOccurs="1"></xs:element>
					<xs:element name="searchresults" type="SearchResultList"></xs:element>
				</xs:sequence>
			</xs:choice>
			<!-- resp Attributes -->
			<xs:attribute name="stat" type="ResponseStatus" use="required" />
			<xs:attribute name="version" type="xs:float" use="required" />
			<xs:attribute name="requests" type="xs:int" use="optional" />
		</xs:complexType>
	</xs:element>
		<!-- ResponseStatus -->
		<xs:simpleType name="ResponseStatus">
			<xs:restriction base="xs:string">
				<xs:enumeration value="ok" />
				<xs:enumeration value="error" />
			</xs:restriction>
		</xs:simpleType>
		<!-- AliasNameList -->
		<xs:complexType name="AliasNameList">
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ArtistDetails -->
		<xs:complexType name="ArtistDetails">
			<xs:sequence>
				<xs:element name="images" type="ImageInfoList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="realname" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="profile" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="urls" type="UrlList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="namevariations" type="NamevariationNameList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="aliases" type="AliasNameList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="groups" type="GroupNameList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="members" type="MemberNameList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="releases" type="ReleaseInfoList"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ArtistInfoList -->
		<xs:complexType name="ArtistInfoList">
			<xs:sequence>
				<xs:element name="artist" type="ArtistInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ArtistInfo -->
		<xs:complexType name="ArtistInfo">
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<!-- only within extraartists -->
				<xs:element name="anv" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="role" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="tracks" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<!-- TODO: only specific roles like 'Featuring', ... -->
				<xs:element name="join" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
		<!-- FormatInfoList -->
		<xs:complexType name="FormatInfoList">
			<xs:sequence>
				<xs:element name="format" type="FormatInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- FormatInfo -->
		<xs:complexType name="FormatInfo">
			<xs:sequence>
				<xs:element name="descriptions" type="FormatDescription" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="FormatName" use="required"/>
			<xs:attribute name="qty" type="xs:int" use="required"/>
		</xs:complexType>
		<!-- FormatDescription -->
		<xs:complexType name="FormatDescription">
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- FormatName -->
		<xs:simpleType name="FormatName">
			<xs:restriction base="xs:string">
				<xs:enumeration value="Box Set" />
				<xs:enumeration value="Cassette" />
				<xs:enumeration value="CD" />
				<xs:enumeration value="File" />
				<xs:enumeration value="Vinyl" />
			</xs:restriction>
		</xs:simpleType>
		<!-- GenreList -->
		<xs:complexType name="GenreList">
			<xs:sequence>
				<xs:element name="genre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- GroupNameList -->
		<xs:complexType name="GroupNameList">
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ImageInfoList -->
		<xs:complexType name="ImageInfoList">
			<xs:sequence>
				<xs:element name="image" type="ImageInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ImageInfo -->
		<xs:complexType name="ImageInfo">
			<xs:attribute name="height" type="xs:int" use="required"/>
			<xs:attribute name="type" type="ImageType" use="required"/>
			<xs:attribute name="uri" type="xs:string" use="required"/>
			<xs:attribute name="uri150" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:int" use="required"/>
		</xs:complexType>
		<!-- ImageType -->
		<xs:simpleType name="ImageType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="primary" />
				<xs:enumeration value="secondary" />
			</xs:restriction>
		</xs:simpleType>
		<!-- LabelDetails -->
		<xs:complexType name="LabelDetails">
			<xs:sequence>
				<xs:element name="images" type="ImageInfoList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="contactinfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="profile" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="parentLabel" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="urls" type="UrlList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="sublabels" type="LabelList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="releases" type="ReleaseInfoList"/>
			</xs:sequence>
		</xs:complexType>
		<!-- LabelList -->
		<xs:complexType name="LabelList">
			<xs:sequence>
				<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- LabelInfoList -->
		<xs:complexType name="LabelInfoList">
			<xs:sequence>
				<xs:element name="label" type="LabelInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- LabelInfo -->
		<xs:complexType name="LabelInfo">
			<xs:attribute name="catno" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
		<!-- NamevariationNameList -->
		<xs:complexType name="NamevariationNameList">
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- MemberNameList -->
		<xs:complexType name="MemberNameList">
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ReleaseDetails -->
		<xs:complexType name="ReleaseDetails">
			<xs:sequence>
				<xs:element name="images" type="ImageInfoList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="artists" type="ArtistInfoList"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="labels" type="LabelInfoList"/>
				<xs:element name="extraartists" type="ArtistInfoList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="formats" type="FormatInfoList"/>
				<xs:element name="genres" type="GenreList"/>
				<xs:element name="styles" type="StyleList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<!-- TODO: datetimeformat!!! -->
				<xs:element name="released" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="tracklist" type="TrackInfoList"/>
				<!-- artists -->
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
			<xs:attribute name="status" type="ReleaseStatus"/>
		</xs:complexType>
		<!-- ReleaseInfoList -->
		<xs:complexType name="ReleaseInfoList">
			<xs:sequence>
				<xs:element name="release" type="ReleaseInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- ReleaseInfo -->
		<xs:complexType name="ReleaseInfo">
			<xs:sequence>
				<xs:element name="catno" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="artist" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="title" type="xs:string" />
				<xs:element name="trackinfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="format" type="xs:string"/>
				<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="year" type="xs:int" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int"/>
			<xs:attribute name="status" type="ReleaseStatus"/>
			<xs:attribute name="type" type="ReleaseType"/>
		</xs:complexType>
		<!-- ReleaseStatus -->
		<xs:simpleType name="ReleaseStatus">
			<xs:restriction base="xs:string">
				<xs:enumeration value="Accepted" />
				<xs:enumeration value="Draft" />
				<xs:enumeration value="Rejected"/>
			</xs:restriction>
		</xs:simpleType>
		<!-- ReleaseType -->
		<xs:simpleType name="ReleaseType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="Appearance" />
				<xs:enumeration value="Co-producer" />
				<xs:enumeration value="DJ Mix" />
				<xs:enumeration value="Main" />
				<xs:enumeration value="Mixed by" />
				<xs:enumeration value="Producer" />
				<xs:enumeration value="Remix" />
				<xs:enumeration value="TrackAppearance" />
				<xs:enumeration value="UnofficialRelease" />
			</xs:restriction>
		</xs:simpleType>
		<!-- SearchResultList -->
		<xs:complexType name="SearchResultList">
			<xs:sequence>
				<xs:element name="result" type="SearchResult" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<!-- not within exact matches -->
			<xs:attribute name="end" type="xs:int" use="optional"/>
			<xs:attribute name="numResults" type="xs:int" use="optional"/>
			<xs:attribute name="start" type="xs:int" use="optional"/>
		</xs:complexType>
		<!-- SearchResult -->
		<xs:complexType name="SearchResult">
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="anv" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="uri" type="xs:string"/>
				<!-- not within exact matches -->
				<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="num" type="xs:int"/>
			<xs:attribute name="type" type="SearchResultType"/>
		</xs:complexType>
		<!-- SearchResultType -->
		<xs:simpleType name="SearchResultType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="artist" />
				<xs:enumeration value="label" />
				<xs:enumeration value="release" />
			</xs:restriction>
		</xs:simpleType>
		<!-- StyleList -->
		<xs:complexType name="StyleList">
			<xs:sequence>
				<xs:element name="style" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- TrackInfoList -->
		<xs:complexType name="TrackInfoList">
			<xs:sequence>
				<xs:element name="track" type="TrackInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- TrackInfo -->
		<xs:complexType name="TrackInfo">
			<xs:sequence>
				<xs:element name="position" type="xs:string" />
				<xs:element name="artists" type="ArtistInfoList" minOccurs="0" maxOccurs="1"/>
				<xs:element name="title" type="xs:string" />
				<xs:element name="extraartists" type="ArtistInfoList" minOccurs="0" maxOccurs="1"/>
				<!-- TODO: timedurationformat!!! -->
				<xs:element name="duration" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
		<!-- UrlList -->
		<xs:complexType name="UrlList">
			<xs:sequence>
				<xs:element name="url" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
</xs:schema>